body{
	font-family: Raleway, sans-serif;
	color:#0d2c40;
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
	margin: 0;
}
p{
	font-family: "Droid Serif", serif;
	/*color: black;*/ 
	text-transform: none;
	line-height: 26px;
}
h1{
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}
h2{
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}
a{
	color:white;
	letter-spacing: 1px;
	font-weight: 600;
	text-decoration: none;
	margin: 0 20px;
	border-bottom: 2px solid transparent; 
}
header{
	background-color: #f15b31;
	color:white;
	padding: 30px 20px;
}
nav{
	background-color: #00A6B3;
	color:#FFFFFF;
	padding: 20px 0px;
}
main{
	width: 850px;
	margin: 35px auto;
}
img{
	margin: 40px 8px;
}
footer{
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0d2c40;
	color: #FFFFFF;
	font-size: 14px;
	letter-spacing: 0.8em
	font-weight: 500;
}

a:hover{
	border-color: white;
}

.copyright, .message{
	font-family: Raleway, sans-serif;
}

.copyright{
	float: left;
}

.message{
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
.name{
	color: #f15b31;
	font-weight: 700; 
}